<template>
  <v-card :loading="loading" class="card">
    <v-card-title>端口杀死</v-card-title>
    <v-container>
      <v-row>
        <v-col cols="8"><v-text-field v-model="port"></v-text-field></v-col>
        <v-col cols="4"><v-btn @click="queryProcess">Query</v-btn></v-col>
      </v-row>
      <v-list two-line>
        <v-list-item v-for="process in processes" :key="process.pid">
          <v-list-item-action>
            <v-checkbox :input-value="active" color="primary"></v-checkbox>
          </v-list-item-action>
          <v-list-item-title v-text="process.proto+' '+process.localAddress+':'+process.localPort"></v-list-item-title>
          <v-list-item-subtitle v-text="process.pid"></v-list-item-subtitle>
          <v-list-item-subtitle v-text="process.pid"></v-list-item-subtitle>

          <v-list-item-action>
            <!-- <v-list-item-action-text
              v-text="11"
            ></v-list-item-action-text> -->

            <v-btn icon><v-icon color="red darken-3"> mdi-stop </v-icon></v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-container>


     <v-card-actions>
      <v-btn
        color="red"
        text
      >
        kill
      </v-btn>

    
    </v-card-actions>
  </v-card>
</template>

<script>
import {parseNetstat, parseLinuxNetstat } from "../../tool/NetStatParser";

export default {
  name: "PortKill",
  data() {
    return {
      port:'',
      loading: false,
      active:false,
      processes: [
      {
        oreignAddress: "0.0.0.0",
foreignPort: "*",
localAddress: "0",
localPort: "8080",
pid: "5958",
programName: "node",
proto: "tcp",
recvQ: "0",
sendQ: "0",
state: "LISTEN",
      }
      ],
    };
  },
  methods: {
    queryProcess() {
      console.log("query port:"+this.port)
      let result= parseNetstat(this.port)
      console.log("query:",result)
      for(let process of result) {
        this.processes.push(process)
      }

    },
    loadProcess() {},
  },
};
</script>

<style>
.card {
  width: 400px;
}
</style>
